# Nuxt
.nuxt
.output
.data
dist

# Node
node_modules
*.log

# Env
.env
.env.*
!.env.example

# OS / editors
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# Capacitor (later phases)
android
ios
